body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.content{
    display: flex;
    width: 80%;
}

.dashboard{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    height: 98vh;
    background-color: rgb(74, 149, 214);
}

.main-holder{
    display: flex;
    flex-direction: column;
    flex: 4;
    background-color: rgb(234, 237, 245);
}

.banner{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 150px;
    background-color: white;
    box-shadow: 1px 3px 3px grey;
}

.inner-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    padding-top: 30px;
    margin-bottom: 15px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#project-card{
    border-width: 0px 0em 0px 10px;
    margin: 12px;
    background-color: white;
    border-color: orange;
    border-radius: 8px;
    box-shadow: 1px 3px 3px grey;
}

.right-content{
    display: flex;
    flex-direction: column;
}

.right-content div{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin: 12px;
    border-radius: 8px;
    box-shadow: 1px 3px 3px grey;
}

.card-title{
    display: flex;
    flex: 2;
    font-size: 1.2rem;
    font-weight: bolder;
    padding-bottom: 5px;
}

.card-text{
    display: flex;
    flex: 2;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 12px;
    margin-bottom: auto;
}

.card-icons{
    display: flex;
    flex: 1;
    width: 100%;
    text-align: right;
}