body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

.content{
    display: flex;
    width: 80%;
}

.dashboard{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    height: 98vh;
    background-color: rgb(74, 149, 214);
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    gap: 30px
}

.main-holder{
    display: flex;
    flex-direction: column;
    flex: 4;
    background-color: rgb(234, 237, 245);
}

.banner{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 150px;
    background-color: white;
    box-shadow: 1px 3px 3px grey;
    padding: 9px;
}

.inner-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    padding-top: 30px;
    margin-bottom: 15px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#project-card{
    display: flex;
    flex-direction: column;
    border-width: 0px 0em 0px 10px;
    margin: 12px;
    background-color: white;
    border-left: 6px;
    border-radius: 8px;
    box-shadow: 1px 3px 3px grey;
    padding: 6px;
    padding-bottom: 8px;
    border-style: solid;
    border-color: orange;
    transition: all .2s ease-in-out; 
}

#project-card:hover{
    transform: scale(1.1);
}

.right-content{
    display: flex;
    flex-direction: column;
}

.right-content div{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin: 12px;
    border-radius: 8px;
    box-shadow: 1px 3px 3px grey;
}

.card-title{
    display: flex;
    font-size: 1.0rem;
    font-weight: 400;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;}

.card-text{
    display: flex;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: auto;
    font-weight: 100;
}

.card-icons{
    display: flex;
    width: 100%;
    text-align: right;
}

.add-card{
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

#project-card:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner div{
    display: flex;
    align-items: center;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #searchQueryInput {
    width: 70%;
    height: 2.4rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }
  
  #searchQuerySubmit:hover {
    cursor: pointer;
  }

  #welcome-msg{
    font-size: 1.3rem;
    font-weight: 700;
  }

  #account-info{
    display: flex;
    justify-content: space-evenly;
  }

.account-button{
    width: 5vw;
    background-color: rgb(74, 149, 214);
    color: white;   
    font-size: 0.9rem;
    border-radius: 20px;
    border-style: solid;
    padding: 12px;
    justify-content: center;
}

li{
    list-style-type: none;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

#banner-list:not(:last-child) {
    margin-bottom:30px;
}

